@import "../../node_modules/scss-reset/src/scss/_reset.scss";
@import "fonts";
@import "variables";
@import "mixins";

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  border: none;
  padding: 0;
  border-radius: 0;
  cursor: pointer;
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
}

body,
html {
  -ms-overflow-style: none;
}

body,
html {
  scrollbar-width: none;
}

body {
  color: $dark;
  background-color: $main-light;
  margin: 0;
  overflow: visible;
}

section:not(#start) {
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  padding: 32px 31px;
}

.container {
  max-width: 1440px;
  padding: 0 30px;
  margin: 0 auto;
}

.button {
  background: $button;
  border-radius: 20px;
  text-align: center;
  display: inline-flex;
  align-items: center;
}
.form-check {
  display: none;
  position: absolute;
  user-select: none;
  z-index: 100;
  &-input {
    width: 60px !important;
    height: 30px !important;
    &:checked {
      background-color: $accent !important;
      border-color: $accent !important;
    }
  }
}

.dg.main.a {
  position: absolute;
  z-index: 100;
  visibility: hidden;
}

.info {
  position: fixed;
  left: 0;
  bottom: 250px;
  font-size: 14px;
  font-weight: bold;
  z-index: 100;
}

.main {
  z-index: 1;
}

.adjust__input {
  width: 75px;
  z-index: 100;
}

.my-title {
  font-family: "Novelist", sans-serif;
  font-size: 98px;
  text-align: center;
  line-height: 103%;
  text-transform: uppercase;
  color: $main-dark;
}

.text {
  font-family: "CormorantGaramond";
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: 132.5%;
  color: $main-dark;
}

.header {
  --header-bg: "transparent";
  --header-blur-value: 7.5px;

  position: absolute;
  z-index: 1;
  padding: 32px 32px 0;
  width: 100%;
  height: 95px;
  display: flex;
  justify-content: space-between;
  background: var(--header-bg);
  -webkit-backdrop-filter: blur(var(--header-blur-value));
  backdrop-filter: blur(var(--header-blur-value));
  z-index: 3;
  &__logo {
    line-height: 103%;
    cursor: pointer;
    width: 184px;
    height: 40px;
  }
  &__burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
}

.hero {
  display: block;
  background-color: transparent;
  position: relative;
  z-index: 4;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__arrow {
    width: 76px;
    height: 76px;
    background-color: $accent;
    border-radius: 50%;
    padding: 11px;
    margin-top: 76px;
  }
  &__subtitle {
    font-family: "CormorantGaramond", sans-serif;
    font-size: 51px;
    font-weight: 300;
    margin-bottom: 30px;
  }
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 64px;
  height: 29px;
  cursor: pointer;
  &__line {
    width: 64px;
    height: 4px;
    background-color: $dark;
  }
}

.approach.fp-table {
  justify-content: end;
}
.approach {
  display: flex;
  position: relative;
  z-index: 2;
  &__container {
    flex-grow: 1;
  }
  &__content {
    height: 100%;
    margin-bottom: 110px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  &__left {
    max-width: 555px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__right {
    max-width: 470px;
  }
}

.services {
  &.section {
    justify-content: flex-end;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 11px;
    overflow: hidden;
    margin-bottom: 0;
  }
  &__item {
    --height: 0px;
    --border-radius: 0;
    --padding-top-bottom: 21px;
    --text-opacity: 0;
    --transform-origin: "bottom";

    display: flex;
    justify-content: space-between;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: var(--padding-top-bottom);
    padding-bottom: var(--padding-top-bottom);
    border-radius: var(--border-radius);
    width: 100%;
    background-color: $main-dark;
    color: $main-light;
    overflow: hidden;
    transform-origin: var(--transform-origin);
    transform: scaleY(0);
    &-title,
    &-description {
      opacity: var(--text-opacity);
    }
    &-title {
      @include services-title;
      max-width: 600px;
    }
    &-description {
      @include services-descripion;
      max-width: 500px;
    }
  }
}

.projects {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.case {
  height: 720px;
  width: 900px;
  position: absolute;
  right: 0;
  bottom: 32px;
  background-color: #cccbc7;
  border-radius: 28px;
  padding: 60px 70px;
  flex-direction: column;
  justify-content: space-between;
  display: none;
  &.visible {
    display: flex;
  }
  &__title {
    @include project-title;
  }
  &__subtitle {
    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 25px;
      width: 80%;
    }
    flex-basis: auto;
    font-size: 39px;
    background-color: $accent;
    border-radius: 21px;
    padding: 10px 26px;
  }
}
