<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DREVO</title>
  <link rel="stylesheet" href="css/style.min.css">

  
    
</head>

<body>

  <header class="header">
    <img src="../images/logo-drevo-dark.svg" alt="" class="header__logo">
    <div class="header__burger burger">
      <div class="burger__line"></div>
      <div class="burger__line"></div>
      <div class="burger__line"></div>
    </div>
  </header>